.slider {
  margin-top: 40px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (max-width: 475px) {
    display: none;
  }

  button {
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 100%;
    transition: all 0.1s ease-in;
    display: flex;
    &:hover {
      opacity: 0.5;
    }
  }
}
