.button {
  border: 1px solid #000;

  padding: 12px 24px;
  border-radius: 4px;
  transition: all 0.1s ease-in;

  &:hover {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (max-width: 485px) {
    width: 100%;
  }
}

