.wrapper {
  margin-top: 32px;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.button {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    margin-left: auto;

    @media (max-width: 360px) {
      display: none;
    }
  }
}

.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  outline: 1px solid #000;
}

.active {
  background-color: #000;
  border: 6px solid #fff;
}

.submit {
  background-color: var(--primary);
  color: #fff;
  font-weight: 500;
  padding: 16px 48px;
  border-radius: 4px;
  margin-top: 32px;
}
