.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  border-bottom: 1px solid #808080;
  padding-bottom: 8px;
  width: 100%;

  &::placeholder {
    color: #999999;
  }
}

.label {
  opacity: 0.4;

  span {
    color: var(--primary);
  }
}
